{{#each coupen}}
<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h4 class="card-title">{{this.name}}</h4>
    <h4 class="card-text">{{this.code}}</h4>
  </div>
</div>
{{/each}}